* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #C1B5AD;
}

#container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: grid;
    grid-template-areas:
    "nav nav"
    "map selections"
    "map itinerary";
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 17fr;
}

#map {
    grid-area: map;
    /* height: 100vh;
    width: 100vw; */
  }

nav {
    grid-area: nav;
    background-color: #F5E4D5;
}

#selections {
    grid-area: selections;
    background-color: #C0C0F8;
}

#itinerary {
    grid-area: itinerary;
    background-color: #C7C7F8;
}

form {
    background-color: #D7F3FC;
}

media {
    flex: 1;
    display: flex;
    flex-direction: column;
}







